// fonts

$ff-main:'DM Sans', sans-serif;
$fs-main:normal;
$fw-main:400;


//colors
$color-main:rgb(255, 255, 255);
$color-secondary:rgba(255, 255, 255, 0.5);
$color-active:#118da8;
$bg-main:rgba(25, 25, 25, 1);
$bg-card:rgb(0, 0, 0);


